.sub-group {
  width: 500px;
  margin: 30px auto;
  &__form {
    display: flex;
    > div {
      flex-grow: 1;
      padding-right: 10px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #909399;
    line-height: 40px;
    margin-top: 40px;
  }
  &__list {
    > li {
      display: flex;
      align-items: center;
      padding: 8px 0;
      border-bottom: 1px solid #d9d9d9;
      text-indent: 10px;
      > div {
        flex-grow: 1;
      }
      > i {
        padding: 0 5px;
        cursor: pointer;
      }
      > i:hover {
        color: #2395f1;
      }
    }
  }
}